@model AddressBook.Models.UserViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>User</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roles)
        </dt>

        <dd>
            @foreach (var role in Model.Roles)
            {
                <div>
                    @*<span>@Html.CheckBox("cbRole", role.Assigned, new { disabled = "disabled" })</span>&nbsp;*@
                    <span>@role.RoleName</span>
                    <br/>
                </div>
            }
        </dd>
        <dt>

        </dt>
        <dd>
            <br/>
            <form action="@Url.Action("Edit", "Users", new { id = Model.Id }, protocol: Request.Url.Scheme)">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-pencil"></i> Edit
                </button>
            </form>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
