@model IEnumerable<AddressBook.Models.RoleViewModel>

@{
    ViewBag.Title = "Roles";
}

<h2>@ViewBag.Title</h2>

<form action="@Url.Action("Create", "Roles", null, protocol: Request.Url.Scheme)">
    <button type="submit" class="btn btn-success">
        <i class="fa fa-plus"></i> Create New
    </button>
</form>
<br />

<table class="table">
    <tr>
        <th>
            Role
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            <a class="fa-link-button-edit" title="Edit" href="@Url.Action("Edit", "Roles", new { id = item.Id }, protocol: Request.Url.Scheme)"><i class="fa fa-pencil fa-lg"></i></a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="fa-link-button-info" title="View Details" href="@Url.Action("Details", "Roles", new { id = item.Id }, protocol: Request.Url.Scheme)"><i class="fa fa-info fa-lg"></i></a>
            &nbsp;&nbsp;|&nbsp;&nbsp;
            <a class="fa-link-button-delete" title="Delete" href="@Url.Action("Delete", "Roles", new { id = item.Id }, protocol: Request.Url.Scheme)"><i class="fa fa-trash-o fa-lg"></i></a>
        </td>
    </tr>
}

</table>
